{{ 'swiper-bundle.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}

{%- liquid 
  assign s = section.settings
-%}

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for block in section.blocks %}
    {%- liquid assign b = block.settings -%}

    <div class="swiper-slide">
      <h2>{{ b.collection.title }}</h2>
    
      {% comment %} <img src="" /> {% endcomment %}
      {% comment %} {{  b.collection.image | image_url: width: 2048 | image_tag }} {% endcomment %}
    </div>

  {% endfor %}  
  </div>
   <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  const swiper = new Swiper('.swiper', {
    speed: 400,
    spaceBetween: 100,
  });
</script>

{% schema %}
{
  "name": "Collections Slider",
   "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ]
}
{% endschema %}
