@font-face {
    font-family: 'GT America';
    src: url('GT-America-Bold.ttf')  format('truetype')
}
.hero-section h2.banner__heading {
    font-family: 'GT America';
    font-style: normal;
    font-weight: 700;
    /* line-height: 130px; */
    text-align: center;
    text-transform: uppercase;
}
.hero-arrow-down-img {
    position: absolute;
    bottom: 30px;
    display: none;
}
.hero-section .banner--desktop-transparent .banner__box {
    max-width: unset;
    margin: 60px 0;
}

/* ----------- Responsive ----------- */
@media only screen and (max-width: 320px) {
    .hero-section h2.banner__heading {
        font-size: 22px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 389px) {
    .hero-section h2.banner__heading {
        font-size: 26px;
    }
} 
@media only screen and (min-width: 390px) and (max-width: 600px) {
    .hero-section h2.banner__heading {
        font-size: 30px;
    }
} 
@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .hero-section h2.banner__heading {
        font-size: 70px;
    }
} 
@media only screen and (min-width: 1024px) {
    .hero-section h2.banner__heading {
        line-height: 130px;
        font-size: 100px;
    }
    .hero-arrow-down-img {
        display: block;
    }
} 
@media only screen and (min-width: 1200px) {
    .hero-section h2.banner__heading {
        font-size: 126px;
    }
}