@font-face {
    font-family: 'GT America';
    src: url('GT-America-Bold.ttf')  format('truetype')
}

h2.banner__heading {
    font-family: 'GT America';
    font-style: normal;
    font-weight: 700;
    font-size: 105px;
    /* line-height: 130px; */
    text-align: center;
    text-transform: uppercase;
}

.hero-arrow-down-img {
    position: absolute;
    bottom: 30px;
    display: none;
}

@media only screen and (max-width: 319px) {
    h2.banner__heading {
        font-size: 25px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 389px) {
    h2.banner__heading {
        font-size: 37px;
    }
} 

@media only screen and (min-width: 390px) and (max-width: 600px) {
    h2.banner__heading {
        font-size: 40px;
    }
} 

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    h2.banner__heading {
        font-size: 70px;
    }
} 

@media only screen and (min-width: 1024px) {
    h2.banner__heading {
        line-height: 130px;
    }
    .hero-arrow-down-img {
        display: block;
    }
} 